# Virtual Environments
.venv/
venv/
ENV/

# PyCharm specific files
.idea/

# Python Cache
__pycache__/
*.pyc

# Project Specific Data & Outputs (Do not upload raw data to GitHub)
CSV_files/
XLS_files/
HTML_files/


# Security - Hide environment variables
.env